* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: #063970;
  display: flex;
}

.container {
  background-color: #fff;
  float: left;
  margin: 10px;
  padding: 30px;
  border-radius: 8px;
  border: 4px solid skyblue;
  box-shadow: 0 0 0px 4px #fff;
}

/* CSS Combinators */
.container p {
  text-align: center;
  font-weight: 800;
  font-size: 18px;
}

/* Mobile View */
@media screen and (max-width: 576px) {
  body {
    flex-direction: column;
  }
}

/* Taplet view */
@media screen and (width> 576px) {
  body {
    align-items: center;
    justify-content: center;
  }
}

/* Laptop And Large view */
@media screen and (width> 992px) {
  body {
    height: 100vh;
  }
}
